<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All You Can Read - Books</title>
</head>
<body>
<div>
    <h1>BOOKS - All you can read</h1>
</div>
<div th:unless="${#lists.isEmpty(books)}">
    <table>
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Publisher</th>
            <th>Date published</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.timestamp}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>